.logoSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 4rem 1rem;
    border-bottom: .5px solid rgb(180, 200, 231);
    margin-bottom: 2rem;

    img{
        transition: 300ms;
        &:hover{
            transform: scale(102%);
            cursor: pointer;
        }
    }

    .logoMain{
        img{
            max-width: 60vw;
        }
    }

    .logoImago{
        img{
            max-width: 60vw;
        }
    }

}