.logoSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 4rem 1rem;
    border-bottom: .5px solid rgb(180, 200, 231);
    margin-bottom: 2rem;

    .margin-top{
        margin-top: 2rem;
    }


    img {
        transition: 300ms;
        max-width: 70vw;
        padding: 2rem 0rem;
        margin-right: 2rem;

        &:hover {
            transform: scale(102%);
            cursor: pointer;
        }
    }

    .titleCon{
       margin-bottom: 4rem;
    }


    .logoMain {
        img {
            max-width: 70vw;
        }
    }

    .logoImago {
        img {
            max-width: 70vw;
        }
    }

    .specimen{
        display: flex;
        padding: 2rem;
        max-width: 70%;
    }

}