@font-face {
    font-family: "Semi-Bold";
    src: url(../../fonts/Sora-Medium.woff2);
}

@font-face {
    font-family: "Light";
    src: url(../../fonts/Sora-Light.woff2);
}

@font-face {
    font-family: "Medium";
    src: url(../../fonts/Sora-Medium.woff2);
}


@font-face {
    font-family: "Helvetica";
    src: url(../../fonts/Sora-Regular.woff2);

}