@font-face {
    font-family: "Semi-Bold";
    src: url(../../fonts/Sora-Semibold.ttf);
}

@font-face {
    font-family: "Light";
    src: url(../../fonts/Sora-Light.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(../../fonts/Sora-Medium.ttf);
}


@font-face {
    font-family: "Helvetica";
    src: url(../../fonts/Chillax-Regular.ttf);

}