$primary300:#CDDBFF;
$primary400:#6286E5;
$primary500: #FF004D;
$primary600: #1A316A;
$primary700: #000000;

$secondary300:#e7ecee;
$secondary400:#919697;
$secondary500:#1d1e20;
$secondary600:#111216;

$terciaryOrange:#FFB800;
$terciaryGreen: #92C100;
$terciaryPurple: #ED1FFF;
$terciaryBlue:#0047FF;